In [1]:
import sqlite3
path ='D:/Works/db/reserve.db'

In [2]:
def get_database() -> str:
    database_path = input(f"select a path for database reserve.db")
    return database_path

In [3]:
database_path = get_database()

In [4]:
def generate_db():
    conn = sqlite3.connect(database_path)
    cursor = conn.cursor()
    
    statement1 = '''CREATE TABLE IF NOT EXISTS users
                  (id INTEGER PRIMARY KEY,
                   name TEXT NOT NULL)'''
    cursor.execute(statement1)
    statement2 = "INSERT INTO users VALUES(1, 'example')"
    cursor.execute(statement2)
    conn.commit()
    
    cursor.close()
    conn.close()

In [5]:
generate_db()

In [6]:
def generate_table(table_name:str):
    conn = sqlite3.connect(database_path)
    cursor = conn.cursor()
    
    statement1 = str(f'''CREATE TABLE IF NOT EXISTS {table_name}
                  (id INTEGER PRIMARY KEY,
                   date TEXT NOT NULL)''')
    cursor.execute(statement1)
    cursor.execute(f"ALTER TABLE {table_name} ADD COLUMN before9 TEXT;") 
    for i in range(9,21):
        j = i + 1
        column_name = str(f't{i}_{j}')
        statement2 = str(f"ALTER TABLE {table_name} ADD COLUMN {column_name} TEXT;")
        cursor.execute(statement2)
    cursor.execute(f"ALTER TABLE {table_name} ADD COLUMN after21 TEXT;") 
    conn.commit()

    cursor.close()
    conn.close()

In [7]:
generate_table('orbi')